extends ../layouts/main-layout.pug

block content
    if(action !== 'undefined' && action === 'create')
        div.alert.alert-success Ürün başarıyla eklendi.
    if(action !== 'undefined' && action === 'edit')
        div.alert.alert-warning Ürün başarıyla güncellendi.
    if(action !== 'undefined' && action === 'delete')
        div.alert.alert-danger Ürün başarıyla silindi.

    .row
        .col-md-12
            if products.length > 0
                table.table.table-bordered
                    thead
                        tr
                            th(style="width: 100px;") Image
                            th Product Name
                            th(style="width: 150px;") Price
                            th(style="width: 155px;")
                    tbody
                        each product in products
                            tr
                                td
                                    img(src=`/img/${product.imageUrl}`, width='80')
                                td #{product.name}
                                td #{product.price} TL
                                td
                                    a.btn.btn-primary.btn.sm.mr-2(href=`/admin/edit-product/${product._id}`) Edit
                                    form(action='/admin/delete-product' method='POST').ml-2
                                        input(type='hidden' name='productid' value=`${product._id}`)
                                        button(type='submit').btn.btn-danger.btn-sm Delete
            else
                h1 No Products