mixin createProduct(product)
    .col-md-4   
        .card.mb-3
            img(src=`/img/${product.imageUrl}` alt=`${product.description}`).card-img-top
            .card-body
                h4.card-title
                    a(href=`/product/details/${product.id}`) #{product.name}
                //- p.card-text.pt-2 #{product.description}
                small.text-muted
                    i.fas.fa-lira-sign #{product.price}
            .card-footer.text-center
                a(href=`/product/details/${product.id}`).btn.btn-outline-primary.btn-sm
                    i.fa.fa-angle-double-right Details
                form(action='/cart' method='POST')
                    input(type='hidden' name='productId' value=`${product.id}`)
                    button(type='submit').btn.btn-outline-primary.btn-sm.ml-3 Add to Cart