extends ../layouts/main-layout.pug

block content
    if(action !== 'undefined' && action === 'edit')
        div.alert.alert-success Ürün başarıyla güncellendi.
    if(action !== 'undefined' && action === 'delete')
        div.alert.alert-danger Ürün başarıyla silindi.

    .row
        .col-md-12
            if products.length > 0
                table.table.table-bordered
                    thead
                        tr
                            th(style="width: 100px;") Image
                            th Product Name
                            th(style="width: 150px;") Price
                            th Birim
                            th(style="width: 155px;")
                    tbody
                        each product in products
                            tr
                                td
                                    img(src=`/img/${product.productId.imageUrl}`, width='80')
                                td #{product.productId.name}
                                td #{product.productId.price} TL
                                td #{product.quantity} adet
                                td
                                    form(action='/delete-cartItem' method='POST').ml-2
                                        input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                        input(type='hidden' name='productid' value=`${product.productId._id}`)
                                        button(type='submit').btn.btn-danger.btn-sm Delete
                    
                    tfoot
                        td(colspan="3")
                        td.text-right Toplam Fiyat: 
                        - var totalPrice = 0;
                        each product in products 
                            - totalPrice += (product.productId.price * product.quantity)
                        td #{totalPrice} TL
                .text-center
                    a(href="/").btn.btn-primary Alışverişe Devam Et
                    form(action="/create-order" method="POST")
                        input(type="hidden" name="_csrf" value=`${csrfToken}`)
                        button(type="submit").btn.btn-primary.ml-2 Alışverişi Tamamla
            else
                h1 No Products